main {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 480px;
  }
  
  main img {
    width: min-content;
    position: absolute;
    top: 2vh;
  }
  
  main .call-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1.5rem;
    width: 100%;
  }
  
  main .call-container,
  .form-container {
    width: 480px;
  }
  
  a.inscreva-se {
    color: var(--main-color);
    font-weight: 700;
  }
  